.table-wrapper {
    float: left;
    overflow: hidden;
    width: 25%;
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 901px) {
    .table-wrapper {width: 10%}
}
@media screen and (max-width: 901px) {
    .table-wrapper {width: 20%;}
}
@media screen and (max-width: 500px) {
    .table-wrapper {width: 25%;}
}

.myTable {
    border-radius: 15px;
    background: #33bbff;
    color: white;
    cursor: pointer;
}

a {
    cursor: pointer;
}

h1 {
    padding-left: 10px;
}