<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' />

    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/navi-bar.js"></script>

    <style type="text/css">
        dd { text-indent:1em }
        p { text-indent:1em }
        body { position: absolute; top: 50px; bottom: 0; left: 0; right: 0; padding: 20px; }
        a { word-break: break-all; word-wrap:break-word; }
        a.right { float: right; margin-bottom: 20px; }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a type="button" class="navbar-toggle collapsed"
               data-toggle="collapse"
               data-target="#navbar-collapse"
               aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="#"><%= username %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/tables">游戏</a></li>
                <li><a href="/users/settings_page">设置</a></li>
                <li class="active"><a href="#">关于</a></li>
                <li><a href="#" id="logout-btn">登出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div>
        <h2>说明</h2>
        <p>本系统为一个简单的五人红五游戏Web应用,源码发布在Github上,链接:
        <a href="https://github.com/liberion1994/FiveOfHeart_5Players">https://github.com/liberion1994/FiveOfHeart_5Players</a>
        </p>
        <h2>鸣谢</h2>
        <p>感谢杭州市第二中学2012届13班的全体同学们,虽然也只有你们会看到这个了ˊ_>ˋ</p>
        <p>希望本系统可以一直更新和使用下去。</p>

        <h2>TODO</h2>
        <p>继续与Bug斗争</p>
        <p>积分系统与奖惩机制</p>
        <p>语音包与表情包</p>
        <p>UI优化(PC端可以单独再做一套)</p>
        <p>更多的游戏(谁是卧底?等)</p>
        <p>代码重构(其实我一点也不想)</p>
        <p style="text-decoration: line-through">创建Cordova应用,本地化</p>
        <p>接入微信公众平台</p>

        <h2>更新日志</h2>
        <h3>V0.3.2</h3>
        <dl>
            <dt>游戏机制调整</dt>
            <dd>在报主阶段，同数量情况下将逐个比较主的大小，较大者成为叫主者；若每一张真主大小都一致，则依然是先报主者叫主</dd>
            <dd>现在所有玩家当前的主牌数字会跟随该玩家，不随桌内玩家的变更而重置；桌内的庄家位置也不会重置（除非当前桌不再有任何玩家）</dd>
        </dl>
        <dl>
        <h3>V0.3.1</h3>
        <dl>
            <dt>pc端游戏界面实现</dt>
            <dd>现在pc登录游戏界面将与之前不同,将"发言"面板与"历史"面板独立于操作界面</dd>
        </dl>
        <dl>
            <dt>语音设置</dt>
            <dd>可以设置语音包(目前只有"默认包"与"不使用语音"两个选项)</dd>
        </dl>
        <h3>V0.3</h3>
        <dl>
            <dt>增加语音系统</dt>
            <dd>在游戏各个阶段将播放基础语音包</dd>
            <dd>基础语音包音源来自谷歌翻译的中文女声</dd>
            <dd>所有发言将会同时转为音频由百度娘播放,由于是非官方接口,这一功能很可能在未来某一时刻失效</dd>
            <dd>新增内置语音消息,可以直接发送"赞扬"、"惊愕"、"嘲讽"、"投降"四类消息</dd>
        </dl>
        <dl>
            <dt>几处优化</dt>
            <dd>座位号的显示方式由0-4号改为"甲乙丙丁戊"</dd>
            <dd>多处表单现在可以直接按回车提交</dd>
            <dd>发言最小时间间隔由5秒改为3秒</dd>
            <dd>洗牌次数由5-20次增加到10-25次</dd>
            <dd>发言改为下拉菜单+模态框的显示方式</dd>
        </dl>
        <dl>
            <dt>修复Bug</dt>
            <dd>修复当前活跃玩家显示Bug</dd>
        </dl>
        <h3>V0.2.1</h3>
        <dl>
            <dt>几处UI优化</dt>
            <dd>在桌面中央增加显示当前游戏阶段</dd>
            <dd>等待操作的玩家增加闪烁提示</dd>
            <dd>在报主阶段桌面上会显示每位玩家选择的真主数量</dd>
        </dl>
        <dl>
            <dt>增加掉线判定</dt>
            <dd>游戏历史中会显示玩家掉线与连入游戏的信息</dd>
            <dd>玩家30分钟内没有进行有效操作会被踢出桌子</dd>
        </dl>
        <dl>
            <dt>杂项</dt>
            <dd>发言的PopOver持续显示时间从1.5秒增加至2.5秒</dd>
            <dd>日志中增加了内存监测</dd>
        </dl>
        <h3>V0.2</h3>
        <dl>
            <dt>增加了计时器功能</dt>
            <dd>玩家处于未准备状态超过1分钟后将被踢出所在桌子</dd>
            <dd>桌子处于满员等待开始游戏状态超过10秒后,所有未准备玩家会被踢出桌子;由于游戏结束时玩家需要查看游戏结果,这一时间被延长至30秒</dd>
            <dd>游戏中玩家的每一次操作时限为1分钟,超时会由系统自动操作该回合</dd>
            <dd></dd>
        </dl>
        <dl>
            <dt>实现了简单AI</dt>
            <dd>该AI无法作为独立玩家,只用于超时后的自动操作</dd>
            <dd>在报主阶段,AI将自动选择等于玩家真主数量的数字</dd>
            <dd>在叫主阶段,AI将自动选择<strong>红桃</strong>花色</dd>
            <dd>在埋底阶段,AI将自动选择手牌<strong>末尾</strong>的7张牌</dd>
            <dd>在叫A阶段,AI将自动选择<strong>草花</strong>花色</dd>
            <dd>在出牌阶段,若是当前轮第一个出牌,AI将自动选择手牌<strong>前端</strong>的第1张牌</dd>
            <dd>在出牌阶段,若非当前轮第一个出牌,AI将自动选择手牌中<strong>符合规则的最大</strong>跟牌牌组</dd>
        </dl>
        <dl>
            <dt>实现了基本发言功能</dt>
            <dd>游戏界面下端的<strong>发言</strong>区域已经可以使用</dd>
            <dd>发言的内容会在桌面中以PopOver的形式显示,持续1.5秒,同时可以在下方发言区域内找到发言记录</dd>
            <dd>两次发言的最短间隔为5秒</dd>
        </dl>
        <dl>
            <dt>游戏机制</dt>
            <dd>
                现在游戏中得到红五(不论红五的出牌者与得分者为同队、不同队或不确定关系)均以5分计算,在结束后结算时,
                闲家每抓到一个庄家(含副庄家)的红五在闲家得分中增加55分,庄家(含副庄家)每抓到一个闲家的红五在闲家得分中减去60分。
                从结果上看这与规则一致,但在游戏过程中观察到的得分情况可能与玩家预想有出入,还请多加注意。
            </dd>
            <dd>
                在报主阶段,若有多位玩家报出的真主数量相同且最大,则最先报主的玩家成为叫主者。
            </dd>
            <dd>
                在报主阶段确定叫主者后,将会显示叫主者的真主,若叫主者报出的真主数量n小于真实数量,将会显示<strong>最大的</strong>n张真主。
            </dd>
            <dd>
                甩牌失败时,将会先显示<strong>全部试图甩出的牌</strong>,持续2秒后显示实际打出的牌。
            </dd>
        </dl>
        <dl>
            <dt>修复Bug</dt>
            <dd>修复了游戏结束时底牌算分倍数错误的Bug</dd>
        </dl>
        <dl>
            <dt>鲁棒性增强</dt>
            <dd>现在当超过3秒没有收到服务器的时钟Tick后会自动与服务器进行同步</dd>
        </dl>
        <dl>
            <dt>杂项</dt>
            <dd>现在位于桌内的玩家需要先离开桌子后方可登出</dd>
            <dd>出牌阶段每轮结束后的持续显示时间从1秒提升到2秒</dd>
            <dd>桌子编号从1开始</dd>
            <dd>稍稍改进了日志系统</dd>
            <dd>完成了本页面</dd>
        </dl>
    </div>
</body>
</html>
