<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/game-ui.js"></script>
    <script src="/javascripts/socket-client.js"></script>
</head>
<body>
<h1>Table</h1>
<p>Welcome to Table</p>
<div id="displayArea">

</div>
</body>
</html>
