<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/table/table.css' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' />

    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/jquery.mobile-events.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/table/app.js"></script>
    <!--<script src="/javascripts/ui-util.js"></script>-->
    <!--<script src="/javascripts/table-view.js"></script>-->

</head>
<body ng-app="myApp" ng-controller="mainCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-collapse"
                        aria-expanded="false">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" href="#">User name</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div id="table" ng-style="tableAreaSize()">
        <div id="seat-top">
            <a id="seat2" class="seat" active-seat=true data-container="body" data-toggle="popover"
               data-placement="right" data-content="信息获取中...">待定</a>
            <a id="seat3" class="seat" data-container="body" data-toggle="popover"
               data-placement="left" data-content="信息获取中...">待定</a>
        </div>
        <div id="seat-bottom">
            <a id="seat1" class="seat" data-container="body" data-toggle="popover"
               data-placement="right" data-content="信息获取中...">待定</a>
            <a id="seat0" class="seat" data-container="body" data-toggle="popover"
               data-placement="top" data-content="信息获取中...">待定</a>
            <a id="seat4" class="seat" data-container="body" data-toggle="popover"
               data-placement="left" data-content="信息获取中...">待定</a>
        </div>
    </div>
    <div id="bottom-area">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="tab-li active">
                <a href="#cardsInHand" aria-controls="cardsInHand" role="tab" data-toggle="tab">手牌</a>
            </li>
            <li role="presentation" class="tab-li">
                <a href="#chat" aria-controls="chat" role="tab" data-toggle="tab">发言</a>
            </li>
            <li role="presentation" class="tab-li">
                <a href="#history" aria-controls="history" role="tab" data-toggle="tab">历史</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="cardsInHand" ng-style="inHandAreaSize()" role="tabpanel" class="tab-pane active">
                <ul>
                    <card-dis ng-repeat="card in cardsInHand" card-model="card"></card-dis>
                </ul>
                <a type="submit" class="btn btn-default" id="submitBtn">确认</a>
                <div class="dropdown" id="viewBtn">
                    <a id="viewLabel" type="button" class="btn btn-default"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        查看
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="viewLabel">
                        <li><a>上一轮</a></li>
                        <li><a>底牌</a></li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="chat"></div>
            <div role="tabpanel" class="tab-pane" id="history"></div>
        </div>
    </div>

</body>
</html>
