<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/table/table.css' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' />

    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/table/app.js"></script>
    <!--<script src="/javascripts/ui-util.js"></script>-->
    <!--<script src="/javascripts/table-view.js"></script>-->

</head>
<body ng-app="myApp" ng-controller="mainCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-collapse"
                        aria-expanded="false">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" href="#">User name</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <table-area table="tableInfo"></table-area>
    <div id="bottom-area">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="tab-li active">
                <a href="#operation-area" aria-controls="operation-area" role="tab" data-toggle="tab">手牌</a>
            </li>
            <li role="presentation" class="tab-li">
                <a href="#chat" aria-controls="chat" role="tab" data-toggle="tab">发言</a>
            </li>
            <li role="presentation" class="tab-li">
                <a href="#history" aria-controls="history" role="tab" data-toggle="tab">历史</a>
            </li>
        </ul>
        <div class="tab-content">
            <operation-area role="tabpanel" class="tab-pane active" table="tableInfo"></operation-area>
            <div role="tabpanel" class="tab-pane" id="chat"></div>
            <div role="tabpanel" class="tab-pane" id="history"></div>
        </div>
    </div>

</body>
</html>
