body {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

a {
    color: #0099ff;
}

.btn:hover, .btn:visited, .btn:focus, .btn:active{
    background: none;
}

#table-area {
    position: relative;
    background: #f8f8f8;
    margin: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
}

#bottom-area {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#operation-area {
    position: relative;
    overflow: hidden;
}

#chat-area {
    position: relative;
}

#history-area {
    overflow: scroll;
    padding: 5px;
}

#history {
    padding: 20px;
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#viewBtn {
    position: absolute;
    left: 0;
    top: 10px;
}

#playCardBtn, #prepareBtn, #unPrepareBtn, #okBtn {
    position: absolute;
    right: 0;
    top: 10px;
}

#leaveBtn {
    position: absolute;
    right: 0;
    top: 50px;
}

#center {
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    color: gray;
}

#status {
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: gray;
}

#counter {
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: gray;
}

#seat-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#seat-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.seat {
    color: grey;
    text-align: center;
    margin: 0;
}

.seat:hover, .seat:visited, .seat:focus, .seat:active{
    color: grey;
    text-decoration: none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.seat[active-seat = true] {
    color: limegreen;
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}

#seat4, #seat3 {
    position: absolute;
    left: 10px;
}

#seat1, #seat4 {
    bottom: 10px;
}

#seat2, #seat1 {
    position: absolute;
    right: 10px;
}

#seat2, #seat3 {
    top: 10px;
}

#chat-display {
    padding: 5px;
    overflow: scroll;
}

#pick-chat {
    color: royalblue;
    border-radius: 17px;
 }

#pick-dropup {
    position: absolute;
    right: 0;
    bottom: 0;
}

.amount-display {
    position: absolute;
    height: 20px;
    font-size: 18px;
    text-align: center;
}

.card {
    background: white;
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    box-shadow:1px 1px 3px #aaaaaa;
    cursor: pointer;
}

.card-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
}

.card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);
}

.card-center {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    margin: -25% -25% -25% -25%;
    text-align: center;
}

.font-red {
    color: red;
}

.font-black {
    color: black;
}

.option-block {
    font-size: 16px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.options {
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.option-chosen {
    box-shadow: inset 1px 1px 2px #888888;
}

.popover-inner {
    padding: 1px;
    overflow: scroll;
    border-radius: 6px;
    box-shadow:1px 1px 3px #aaaaaa;
}
